#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background {
  background-color: #72f6fd;
opacity: 0.8;
background: linear-gradient(135deg, #343eff55 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #343eff 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #343eff55 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #343eff 25%, #72f6fd 25%) 0px 0/ 20px 20px;
}

.maincontainer {
  display: flex;
  
}

.sideshelf {
  background-color: brown;
}
.bottom {
  background-color: orange;
}

.pc {
  background-color: grey;
  margin: 2rem 2rem 2rem 2rem;
}

.screen {
  background-color: black;
  margin: 1rem 1rem 1rem 1rem;
}

.section {
  border: solid;
  margin: 1rem 1rem 1rem 1rem;
}

.top {
  background-color: ;
}

.monitor {
  max-width: 70rem;
}

.keyboard {
  max-width: 40rem;
}

.tower {
  max-height: 25rem;
}