/* #root {
  max-width: 1280px;
  margin: 0 ;
  padding: 2rem;
  text-align: center;
} */

.background {
  
background-image: url(./assets/wall.jpg);
}

.maincontainer {
  display: flex;
  
}

.sideshelf {
  background-color: brown;
  background-image: url(./assets/sideshelf.png);
}
.bottom {
  background-image: url('./assets/desk.png');
  display: flex;
  justify-content: space-between;
}

.pc {
  margin: 2rem 2rem 2rem 2rem;
}

.screen {
  /* background-color: blue; */
  
  position: relative;
}

.section {
  border: solid;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0px 0px 0px 0px;
  position: relative;
}

.buttons {
  position: absolute;
  left: 10rem;
  top: 2rem;
  font-size: x-large;
  padding: 1rem 1rem 1rem 1rem;
  background-color: green;
}

.screenbg {
  position: absolute;
  z-index: -1;
  background-color: red;
}

.monitor {
  width: 40rem;
}

.search {
  position: absolute;
  z-index: 1;
  left: 7rem;
  top: 7rem;
  
}

.keyboard {
  max-width: 40rem;
}

.tower {
  max-width: 25rem;
}

.compslot {
  display: flex;
  padding: 5rem 5rem 0rem 5rem;
}

.speak1{
  height: 25rem;
  margin-top: 10rem;
}

.speak2{
  height: 25rem;
  margin-top: 10rem;
}

.mouse {
  max-width: 20rem
}

.deskitem1 {
  max-width: 10rem;
}

.shelf {
  max-width: 35rem;
  margin: 0 0 0 0;
}